html {
    scroll-behavior: smooth;
}


/* Ocultar scrollbar horizontal del carrusel */
#categoryScroller {
    -ms-overflow-style: none;
    /* IE y Edge */
    scrollbar-width: none;
    /* Firefox */
}

#categoryScroller::-webkit-scrollbar {
    display: none;
    /* Chrome, Safari, Opera */
}

